[submodule "seal-lib/sealy/SEAL"]
	path = seal-lib/sealy/SEAL
	url = https://github.com/microsoft/SEAL

[submodule "openfhe-bind/openfhe-development"]
	path = openfhe-lib/openfhe-development
	url = https://github.com/openfheorg/openfhe-development.git
